* {
    margin: 0;
    padding: 0;
    text-decoration: none;    
    box-sizing: border-box;
  }

body{
  font-family: montserrat;
  background-image: url('./BGFSWD.jpeg');
  background-size: cover;
  background-repeat:no-repeat ;
  background-attachment: fixed;
}

nav{
  background: #0a957b;
  height:80px;
  width : 100%;   
}

label.logo{
  color: rgb(112, 227, 212);
  font-size: 25px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px ;
  margin: 0 5px ;
}

nav ul li a{
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}

nav{
  background: rgb(15, 87, 150);
  height: 80px;
}

nav li a:hover{
  color:rgb(14, 13, 14);
  transition: all 0.4s ease 0s;
}
  
#logo {
  text-decoration: none;
  color: rgb(114, 18, 18);
  text-align: center;
  padding-left:20px ;
  float: left;
  padding-top: 4px;
}

.search-form {
  padding-top: 2%;
  padding-right: 7.5%;
  display: flex;
  float: right;
}

.search-form input {
  font-size: 2rem;
  padding: 0.5rem;
  width: 80%;
  border: none;
  border: 2px solid rgb(74, 68, 131);
}

.search-form button {
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  background: rgb(74, 68, 131);
  color: white;
  cursor: pointer;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 1% 0rem;
}

.gallery-info a {
  color: gray;
}
  
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding: 2% 0rem;
  width: 80%;
  margin: auto;
  row-gap: 0;
  column-gap: 2%;
}
  
.gallery-img img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
  
.nav-button {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more {
  padding: 1rem 3rem;
  background: rgb(74, 68, 131);
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.ulid{
  color: black;
}
  
.content{
  width:1200px;
  height:auto;
  margin: auto;
  color:black;
}
  
content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1{
  font-family: 'Times New Roman', Times, serif ;
  font-size: 45px;
  padding-top: 7%;
  padding-right: 5%;
  margin-top: 0px;
  letter-spacing: 2px;
  color: brown;
}

.content h2{
  font-family: monospace;
  font-size:20px;
  letter-spacing: 2px;
  color: green;
  margin-top: 30px;
}

.content h3{
  font-family:monospace ;
  font-size:20px;
  letter-spacing: 2px;
  color: green;
}

/*Subscription Styling*/
.hero{
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-position: auto;
  padding: 5px 5%;
  color: rgb(4, 24, 54);
}

.hero h2{
  margin-top: 40px;
  font-size: 30px;
  color: green;
}

.hero p{
  margin: 10px 0 50px;
}
form  {
  background: #fff;
  display: flex;
  width: 200px;

}
form input{
  border: 0;
  outline:none;
  padding: 10px 30px;
  height: 70px;
  width: 400px;
  font-size: 16px;
}
form button{
  background: #61b752;
  border: none;
  outline: none;
  padding: 10% 10%;
  height: 70px;
  width: 200px;
  cursor: pointer;
}
span{
  color: #030c29;
  margin-top: 20px;
  display: block;
  font-size: 20px;
}
  
